.book-curd-section {
  height: 340px;
  width: 100%;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.curd-btn-wrapper {
  height: 170px;
  width: 70%;
  background-color: var(--crudBarBg);
  border-radius: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
  padding-bottom: 20px;
}

.delete-all-books,
.create-book {
  background-color: transparent;
  height: 60%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-all-icon,
.create-icon {
  width: 70px;
  aspect-ratio: 1/1;
}

.delete-all-books:hover,
.create-book:hover {
  background-color: var(--primaryCompColor);
}

@media (max-width: 1024px) {
  .book-curd-section {
    justify-self: center;
    width: 95%;
    height: 240px;
    padding: 0;
  }

  .curd-btn-wrapper {
    gap: 10px;
    height: 140px;
    margin-bottom: -60px;
    width: 100%;
  }

  .delete-all-books,
  .create-book {
    height: 20%;
    width: 40%;
  }
  .delete-all-icon,
  .create-icon {
    width: 55px;
    aspect-ratio: 1/1;
  }
}
