.form-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--formContainerBg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 600;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  animation: fadeInScale 0.5s ease forwards;
}

.form-container.hidden {
  animation: fadeOutScale 0.5s ease forwards;
}

.first-load-hidden-form {
  display: none;
}

.close-form-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  height: 40px;
  aspect-ratio: 1/1;
  place-self: end;
  background-color: transparent;
  cursor: pointer;
  z-index: 700;
  background-color: var(--closeFormBtnBgColor);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  border: 2px solid black;
}

.close-form-btn:hover {
  display: block;
  background-color: var(--bloodRedColor);
}

#form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 65%;
  gap: 20px;
  border-radius: 8px;
  background-image: url('../asset/main-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

label {
  margin: 10px 0;
  padding: 10px;
  font-weight: 600;
}

.field-wrapper,
.dropdown-wrapper,
.create-btn-wrapper {
  height: fit-content;
  width: 50%;
  text-align: center;
}

input[type='text'],
input[type='number'],
select {
  margin: 10px 0;
  padding: 10px;
  height: 40px;
  width: 70%;
  background-color: var(--whiteColor);
  color: var(--inputColor);
  border-radius: 0.5px;
}

input::placeholder {
  color: var(--inputColor);
}

#submitBtn {
  padding: 15px 50px;
  cursor: pointer;
  background-color: var(--submitBtnBgColor);
  color: var(--whiteColor);
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

#submitBtn:hover {
  background-color: var(--libraryWrapperBg);
}

@media (max-width: 1024px) {
  .form-container {
    width: 100%;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
  }

  #form {
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    overflow: scroll;
    scroll-behavior: smooth;
    border-radius: 0;
  }

  .field-wrapper,
  .dropdown-wrapper,
  .create-btn-wrapper {
    width: 100%;
    height: 40%;
  }

  .create-btn-wrapper {
    height: 100%;
  }

  input[type='text'],
  input[type='number'],
  select {
    height: 50%;
    width: 80%;
    font-size: 1.2rem;
  }
  #submitBtn {
    padding: 10px 30px;
    font-size: 1.4rem;
  }

  .close-form-btn {
    right: 40px;
    top: 10px;
    height: 30px;
    width: 30px;
  }
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0);
    visibility: visible;
    pointer-events: auto;
  }
  to {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    pointer-events: auto;
  }
}

@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }
  99% {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: auto;
  }
  100% {
    opacity: 0;
    transform: scale(0.2);
    display: none;
    pointer-events: none;
  }
}
