.library-section {
  grid-row: 3/4;
  padding-top: 80px;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}

.library-container {
  height: fit-content;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.library-wrapper {
  width: 100%;
  height: 240px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% 40%;
  place-items: center;
  place-content: center;
  gap: 5px;
  text-align: center;
  background-color: var(--libraryWrapperBg);
}

.book-heading {
  grid-column: 1/2;
}

.author-heading {
  grid-column: 2/3;
}

.page-num-para {
  grid-column: 3/4;
}

.read-para-box {
  grid-column: 4/5;
}

.edit-btn,
.done-edit-btn,
.delete-btn {
  background-color: transparent;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
}

.edit-btn,
.done-edit-btn {
  grid-column: 2/3;
  grid-row: 2/3;
}

.edit-icon,
.delete-icon,
.done-icon {
  width: 50px;
  aspect-ratio: 1/1;
}

.delete-btn {
  grid-column: 3/4;
  grid-row: 2/3;
}

.delete-btn:hover,
.edit-btn:hover,
.done-edit-btn:hover {
  background-color: var(--primaryCompColor);
}

.highlight {
  border: 1px dotted var(--bloodRedColor);
  padding: 0 12px;
}

@media (max-width: 839px) {
  .library-wrapper {
    grid-template-columns: 50% 50%;
    grid-template-rows: 32% 32% 32%;
    height: 280px;
  }

  .book-heading {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 16px;
  }

  .author-heading {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 16px;
  }

  .page-num-para {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 16px;
  }

  .read-para-box {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 16px;
  }

  .edit-btn,
  .done-edit-btn {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 50px;
    font-size: 16px;
  }

  .delete-btn {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 110px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 535px) {
  .library-wrapper {
    height: 360px;
  }
}
